.container {
    width: 80%;
    margin: 0 auto;

    :global {
        .ant-menu-horizontal {
            text-align: center;
            background: transparent;
            border-bottom: solid 1px #686868;
            color: #686868;
        }
    }

    .myName {
        padding: 20px 0;
        color: #686868;
        font-size: 1.2rem;
        text-align: center;
    }
}
