@import '../../assets/style/common.less';

.container {
    background: @mainBgColor;
    width: 100%;

    .mainBox {
        .banner {
            position: relative;

            :global {
                .ant-carousel .slick-slide {
                    text-align: center;
                    overflow: hidden;
                }

                .ant-carousel .slick-slide h3 {
                    color: @fontColor;
                }
            }

            .icon {
                color: @fontColor;
                position: absolute;
                font-size: 2rem;
                top: 50%;
                cursor: pointer;
                z-index: 200;
                transition: all .2s;

                &:hover {
                    color: @fontColor;
                }
            }

            .left {
                left: 10%;
            }

            .right {
                right: 10%;
            }
        }

        .contentBox {
            .leftContent {
                .paging {
                    margin-bottom: 40px;
                    text-align: right;
                }
            }
        }
    }
}





@media screen and (min-width: 767px) {
    .container {
        padding-top: 40px;
        padding-bottom: 40px;

        .mainBox {
            .contentBox {
                width: 90%;
                margin: 40px auto 0;
                display: flex;
                justify-content: space-between;

                .leftContent {
                    margin-right: 40px;

                    .articalList {

                        margin-top: 2rem;

                        .articalItem {
                            margin-bottom: 2rem;
                        }
                    }

                    .paging {
                        margin-bottom: 40px;
                    }
                }
            }

            .banner {
                :global {
                    .ant-carousel .slick-slide {
                        height: 30rem;
                        line-height: 30rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding-top: 0px;
        padding-bottom: 40px;
        margin-top: 3rem;

        .mainBox {
            .contentBox {
                .leftContent {
                    margin-right: 0px;

                    .articalList {

                        margin-top: 1rem;

                        .articalItem {
                            margin-bottom: 1rem;
                        }
                    }

                    .paging {
                        margin-bottom: 40px;
                    }
                }

                .rightContent {
                    display: none;
                }
            }

            .banner {
                :global {
                    .ant-carousel .slick-slide {
                        height: 15rem;
                        line-height: 15rem;
                    }
                }
            }
        }

    }
}
