@import '../../assets/style/common.less';

.container {
    background: @mainBgColor;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

    .mainBox {

        // background: @mainBgColor;
        // width: 90%;
        // margin: 0 auto;
        // border-radius: 6px;
        // box-shadow: 2px 2px 20px @shadowColor;

        .contentBox {
            width: 90%;
            margin: 40px auto 0;
            display: flex;
            justify-content: space-between;
        }

        .banner {
            position: relative;

            :global {
                .ant-carousel .slick-slide {
                    text-align: center;
                    height: 30rem;
                    line-height: 30rem;
                    overflow: hidden;
                }

                .ant-carousel .slick-slide h3 {
                    color: @fontColor;
                }
            }

            .icon {
                color: @fontColor;
                position: absolute;
                font-size: 2rem;
                top: 50%;
                cursor: pointer;
                z-index: 1000;
                transition: all .2s;

                &:hover {
                    color: @fontColor;
                }
            }

            .left {
                left: 10%;
            }

            .right {
                right: 10%;
            }
        }

        .leftContent {
            margin-right: 50px;

            .paging {
                margin-bottom: 40px;
                text-align: right;
            }
        }
    }
}
